<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      .banner {
        position: absolute;
        top: 20px;
        left: 20px;
        color: #030303;
        font-size: 24px;
        font-weight: bold;
      }

      .login-container {
        text-align: center;
      }

      .login-button {
        background-color: #4caf50;
        color: #fff;
        padding: 15px 30px;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      .login-button:hover {
        background-color: #45a049;
      }
    </style>
    <title>Login</title>
  </head>
  <body>
    <div class="banner">Welcome to OIDC Federation Tester</div>

    <div class="login-container">
      <a href="<%= authorizationUrl %>">
        <button class="login-button">Login</button>
      </a>
    </div>
  </body>
</html>
